

@media screen and (max-width: 736px)
{
    header {
        padding: 3em 0 0.1em 2em;
    }
}

@media screen and (max-width: 736px){
    #main {
        padding: 0em 0 4em 0;
    }
}

@media screen and (max-width: 736px)
{
    h1 {
        font-size: 2em;
        margin: 0 0 1em 0;
    }
}

@media screen and (max-width: 736px)
{
    header p {
        margin-top: 0;
    }
}

@media screen and (max-width: 736px)
{
    .container > * > .inner {
        padding: 0 1.25em;
    }
}

@media screen and (max-width: 480px)
{
    .tiles {
        margin: 20;
    }
}
@media screen and (max-width: 736px)
{
    .tiles {
        margin: -1.25em 0 0 -1.25em;
    }
}


@media screen and (max-width: 980px)
{
    .tiles {
        margin: -2.5em 0 0 -2.5em;
    }
}

@media screen and (max-width: 1280px)
{
    .tiles {
        margin: -1.25em 0 0 -1.25em;
    }
}


@media screen and (max-width: 480px)
{
    .tiles article  {
        width: 100%;
        margin: 1.25em 0 0 0.9;
    }
}

@media screen and (max-width: 480px)
{
    .tiles article  {
        width: 100%;
        margin: 1.25em 0 0 0.9;
    }
}

@media screen and (max-width: 736px)
{
    .tiles article {
        width: calc(50% - 1.25em);
        margin: 1.25em 0 0 1.25em;
    }
}

@media screen and (max-width: 980px)
{
    .tiles article {
        width: calc(50% - 2.5em);
        margin: 2.5em 0 0 2.5em;
    }
}

@media screen and (max-width: 1280px)
{
    .tiles article {
        width: calc(33.33333% - 1.25em);
        margin: 1.25em 0 0 1.25em;
    }
}


@media screen and (max-width: 480px)
{
    .tiles article  {
        width: 100%;
        margin: 1.25em 0 0 0.9;
    }
}



@media screen and (max-width: 1280px)
{
    body, input, select, textarea {
        font-size: 12pt;
}

}

@media screen and (max-width: 1680px)
{
    body, input, select, textarea {
        font-size: 14pt;
}

}


@media screen and (max-width: 736px)
{
    #footer {
        padding: 3em 0 1em 0;
    }
}

@media screen and (max-width: 1280px) 
{
    #footer {
        padding: 5em 0 3em 0;
    }
}

@media screen and (max-width: 480px)
{
    form > .fields {
        width: calc(100% + 3em);
        margin: -1.5em 0 2em -1.5em;
    }
    
}

@media screen and (max-width: 480px)
{
    ul.actions:not(.fixed) {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-left: 0;
        width: 100% !important;
    }
}

@media screen and (max-width: 480px)
{
    ul.actions:not(.fixed) li:first-child {
        padding-top: 0;
    }
}


@media screen and (max-width: 480px)
{
    ul.actions:not(.fixed) li {
        -moz-flex-grow: 1;
        -webkit-flex-grow: 1;
        -ms-flex-grow: 1;
        flex-grow: 1;
        -moz-flex-shrink: 1;
        -webkit-flex-shrink: 1;
        -ms-flex-shrink: 1;
        flex-shrink: 1;
        padding: 1em 0 0 0;
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 736px)
{
    #footer > .inner section:nth-child(2) {
        -moz-order: -1;
        -webkit-order: -1;
        -ms-order: -1;
        order: -1;
        width: 100%;
        margin-left: 0;   
}
}

@media screen and (max-width: 980px)
{
    #footer > .inner section:nth-child(2) {
        width: calc(33% - 2.5em);
        margin-left: 2.5em;
    }
}
@media screen and (max-width: 1280px)

{
    #footer > .inner section:nth-child(2) {
        width: calc(33% - 1.25em);
        margin-left: 1.25em;
    }
}


@media screen and (max-width: 480px)
{
    ul.actions:not(.fixed) li input[type="submit"], ul.actions:not(.fixed) li input[type="reset"], ul.actions:not(.fixed) li input[type="button"], ul.actions:not(.fixed) li button, ul.actions:not(.fixed) li .button {
        width: 100%;
    }
}

@media screen and (max-width: 480px)
{
    ul.actions:not(.fixed) li > * {
        width: 100%;
    }
}


@media screen and (max-width: 480px)
{
    #footer > .inner .copyright {
        margin-top: 3em;
}

}

@media screen and (max-width: 480px)
{
    #footer > .inner .copyright li:first-child {
        margin-top: 0;
}

}

@media screen and (max-width: 480px)
{
    #footer > .inner .copyright li {
        border-left: 0;
        padding-left: 0;
        margin: 0.75em 0 0 0;
        display: block;
        line-height: inherit;
}

}